<% include partials/header %>
<form action='/logins' method='POST'>
    <input type='text' name='username' placeholder='username'>
    <input type='password' name='password' placeholder='password'>
    <button>Login</button>
</form>